.promo-creation
  position: relative
  width: 921px
  margin: 0 auto
  padding-top: 40px
  padding-left: 365px
  padding-right: 364px

.promo-creation__stages-list
  position: absolute
  top: 114px
  left: 155px
  display: flex
  flex-direction: column
  align-items: flex-end
  min-height: 216px
  width: 120px

  @include resetList()

.promo-creation__stage-item
  position: relative
  margin-bottom: 28px

  &::before
    content: ""
    height: 17px
    width: 2px
    border-radius: 10px
    @include absoluteElementTopRight(18px, -22px)

  &:last-of-type
    margin-bottom: 0

    &::before
      display: none

.promo-creation__stage-item--enabled
  &::before
    background-color: $bright-blue

.promo-creation__stage-item--disabled
  &::before
    background-color: $dark-grey

.promo-creation__stage-text
  position: relative
  margin: 0

  @include fstyle(14px, 16px, $bright-blue, 500)

  &::before
    content: ""
    height: 24px
    width: 24px

    @include absoluteElementTopRight(-8px, -32px)

.promo-creation__stage-text--disabled
  color: $dark-grey

  &::before
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9999 11.927C13.6561 15.6204 9.5 22 9.5 22C9.5 22 6.55294 17.1087 4.73842 14.5133C2.9239 11.918 0.91325 10.0516 0 9.34074C0 9.34074 0.689806 8.12296 0.80845 7.29892C0.988106 6.05115 0.80845 4.82606 0.80845 4.82606C0.80845 4.82606 3.59311 7.14465 5.21001 8.79626C6.82691 10.4479 9.16244 13.5605 9.16244 13.5605C9.16244 13.5605 13.4553 8.91741 15.8771 6.79981C21.2218 2.12632 24 0 24 0C24 0 23.7754 0.560933 23.198 2.8523C22.695 4.84875 22.6142 6.20996 22.6142 6.20996C22.6142 6.20996 20.6149 7.93416 16.9999 11.927Z' fill='%23C7C7C7'/%3E%3C/svg%3E%0A")

.promo-creation__stage-text--enabled
  &::before
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1276:473)'%3E%3Cpath d='M16.9999 12.927C13.6561 16.6204 9.5 23 9.5 23C9.5 23 6.55294 18.1087 4.73842 15.5133C2.9239 12.918 0.91325 11.0516 0 10.3407C0 10.3407 0.689806 9.12296 0.80845 8.29892C0.988106 7.05115 0.80845 5.82606 0.80845 5.82606C0.80845 5.82606 3.59311 8.14465 5.21001 9.79626C6.82691 11.4479 9.16244 14.5605 9.16244 14.5605C9.16244 14.5605 13.4553 9.91741 15.8771 7.79981C21.2218 3.12632 24 1 24 1C24 1 23.7754 1.56093 23.198 3.8523C22.695 5.84875 22.6142 7.20996 22.6142 7.20996C22.6142 7.20996 20.6149 8.93416 16.9999 12.927Z' fill='%2300A0AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1276:473'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")

.promo-creation__header
  margin: 0
  margin-bottom: 11px

  @include fstyle(18px, 21px, $dark-black)

.promo-creation__stage
  width: 647px
  margin: 0
  margin-bottom: 32px
  padding: 0 32px
  padding-top: 32px
  padding-bottom: 18px
  border: none
  box-shadow: 0 0 20px rgba($black-rgb, 0.1)
  border-radius: 8px

.promo-creation__stage--third
  padding-bottom: 32px

.promo-creation__item-wrapper
  display: flex
  flex-wrap: wrap
  min-height: 48px
  width: 651px

.promo-creation__label
  margin-top: 8px

  @include fstyle(14px, 16.4px, $light-black)

.promo-creation__label--name
  width: 64px
  margin-right: 93px

.promo-creation__label--category
  width: 69px
  margin-right: 88px

.promo-creation__label--message
  width: 76px
  margin-right: 48px

.promo-creation__label--trade
  width: 57px
  margin-right: 0

.promo-creation__label--annotation
  width: 65px
  margin-right: 92px

.promo-creation__label--contacts
  width: 65px
  margin-right: 92px

.promo-creation__label--photo
  width: 81px
  margin-right: 76px

.promo-creation__label--location
  width: 115px
  margin-right: 42px

.promo-creation__field
  margin: 0
  margin-bottom: 2px
  padding-top: 8px
  padding-left: 16px
  padding-bottom: 6px
  border-radius: 8px
  border: 1px solid $grey

  &::placeholder
    @include fstyle(14px, 16.4px, $dark-grey)

.promo-creation__field--item-name
  height: 16px
  width: 474px

.promo-creation__field--location
  height: 16px
  width: 474px

.promo-creation__field--item-annotation
  height: 118px
  width: 480px
  margin-bottom: 4px
  padding-top: 10px
  padding-left: 10px
  resize: none

  @include fstyle(14px, 16.4px, $dark-grey)

.promo-creation__item-wrapper--required
  position: relative
  margin-bottom: 24px

  &:last-of-type
    margin-bottom: 0

  &::before
    content: ""
    height: 4px
    width: 4px
    background-color: $red
    border-radius: 50%

    @include absoluteElementTopLeft(14px, 143px)

.promo-creation__attention
  margin: 0
  margin-left: 157px

  @include fstyle(12px, 14px, $dark-grey)

.promo-creation__attention--enabled
  color: $red

.promo-creation__pseudo-arrow
  position: relative

  &::before
    content: ""
    height: 10px
    width: 10px
    border-radius: 2px
    transform: rotate(-135deg)

.promo-creation__select-wrapper
  &::before
    border-left: 2px solid $dark-grey
    border-top: 2px solid $dark-grey

    @include absoluteElementTopRight(7px, 21px)

  &:not(:first-of-type)
    margin-left: 157px

  &:last-of-type .promo-creation__field--item-category-option
    margin-bottom: 0

.promo-creation__field--item-category-option
  height: 32px
  width: 264px
  margin-bottom: 32px
  -webkit-appearance: none
  -moz-appearance: none

  &::before
    margin-bottom: 0

  @include fstyle(14px, 16.4px, $dark-grey)

.promo-creation__field--selected
  color: $black

.promo-creation__field--item-price
  height: 16px
  margin-right: 40px
  margin-bottom: 2px

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

.promo-creation__checkbox + .promo-creation__label
  position: relative

  &::before
    content: ""
    height: 15px
    width: 15px
    border: 1px solid $dark-black
    border-radius: 50%

    @include absoluteElementTopLeft(-2px, -22px)

.promo-creation__checkbox:checked + .promo-creation__label
  &::before
    background-color: $bright-blue

.promo-creation__label--trade
  margin-right: 51px

.promo-creation__service-wrapper
  position: relative
  display: flex
  flex-wrap: wrap
  width: 491px
  margin-left: 157px
  margin-bottom: 24px

  &:last-of-type
    margin-bottom: 0

.promo-creation__item-icon
  position: absolute
  height: 24px
  width: 24px
  background-repeat: no-repeat
  background-position: 50% 50%

.promo-creation__item-icon--protection
  background-image: url($protection-icon)

  @include absoluteElementTopLeft(-2px, 4.5px)

  &:hover
    background-image: url($protection-icon-hovered)

.promo-creation__item-icon--delivery
  background-image: url($car-icon)

  @include absoluteElementTopLeft(-1px, 4.5px)

  &:hover
    background-image: url($car-icon-hovered)

.promo-creation__label--service
  font-weight: 500
  color: $dark-black

.promo-creation__label--protection
  margin: 4px 215px 16px 72px

.promo-creation__label--delivery
  margin: 4px 279px 16px 72px

.promo-creation__show-more
  position: relative
  height: 16px
  margin-top: 4px
  padding: 0
  border: none
  background: none
  font-family: "Roboto", "Arial", sans-serif
  cursor: pointer
  text-decoration: underline

  @include fstyle(14px, 16.4px, $bright-blue, 500)

.promo-creation__service-wrapper .promo-creation__pseudo-arrow
  &::before
    border-left: 2px solid $bright-blue
    border-top: 2px solid $bright-blue

    @include absoluteElementTopLeft(-1px, -17px)

.promo-creation__info
  margin: 0

  @include fstyle(12px, 14px, $light-black)

.promo-creation__info--text
  margin-bottom: 12px

.promo-creation__info--more-text
  color: $grey

.promo-creation__service-wrapper .promo-creation__pseudo-arrow--opened
  text-decoration: none

  &::before
    top: 2px
    transform: rotate(45deg)

.promo-creation__photo-wrapper
  display: flex
  flex-wrap: wrap
  width: 490px

.promo-creation__photo-list
  display: flex
  flex-wrap: wrap

  @include resetList()

.promo-creation__photo-item
  position: relative
  height: 130px
  width: 112px
  margin-right: 14px
  margin-bottom: 14px
  border-radius: 1px

  &:nth-child(4n)
    margin-right: 0

.promo-creation__photo-item--first
  &::before
    content: 'Главное фото'
    height: 14px
    width: 100%
    padding: 2px 0
    background-color: rgba($darkest-black-rgb, 0.37)
    text-align: center
    font-family: "Roboto", "Arial", sans-serif

    @include fstyle(12px, 14px, $white)
    @include absoluteElementTopLeft(112px, 0, 1)

.promo-creation__photo
  height: 100%
  width: 100%

.promo-creation__load-photo
  display: none

.promo-creation__label-photo
  position: relative
  height: 52px
  width: 98px
  padding-top: 78px
  padding-left: 9px
  padding-right: 5px
  background-color: $light-grey
  text-align: center
  cursor: pointer
  border-radius: 1px

  @include fstyle(12px, 14px, $dark-grey)

  &::before
    content: ""
    height: 43px
    width: 54px
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='43' viewBox='0 0 54 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_1276:163' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.4376 0C15.2285 0 13.4376 1.79086 13.4376 4V5.37433H4C1.79086 5.37433 0 7.16519 0 9.37433V38.9997C0 41.2089 1.79086 42.9997 4 42.9997H49.7506C51.9597 42.9997 53.7506 41.2089 53.7506 38.9997V9.37433C53.7506 7.16519 51.9597 5.37433 49.7506 5.37433H40.3129V4C40.3129 1.79086 38.522 0 36.3129 0H17.4376Z'/%3E%3C/mask%3E%3Cpath d='M13.4376 5.37433V6.37433H14.4376V5.37433H13.4376ZM40.3129 5.37433H39.3129V6.37433H40.3129V5.37433ZM14.4376 4C14.4376 2.34315 15.7808 1 17.4376 1V-1C14.6762 -1 12.4376 1.23858 12.4376 4H14.4376ZM14.4376 5.37433V4H12.4376V5.37433H14.4376ZM4 6.37433H13.4376V4.37433H4V6.37433ZM1 9.37433C1 7.71748 2.34315 6.37433 4 6.37433V4.37433C1.23857 4.37433 -1 6.61291 -1 9.37433H1ZM1 38.9997V9.37433H-1V38.9997H1ZM4 41.9997C2.34314 41.9997 1 40.6566 1 38.9997H-1C-1 41.7612 1.23857 43.9997 4 43.9997V41.9997ZM49.7506 41.9997H4V43.9997H49.7506V41.9997ZM52.7506 38.9997C52.7506 40.6566 51.4074 41.9997 49.7506 41.9997V43.9997C52.512 43.9997 54.7506 41.7612 54.7506 38.9997H52.7506ZM52.7506 9.37433V38.9997H54.7506V9.37433H52.7506ZM49.7506 6.37433C51.4074 6.37433 52.7506 7.71747 52.7506 9.37433H54.7506C54.7506 6.61291 52.512 4.37433 49.7506 4.37433V6.37433ZM40.3129 6.37433H49.7506V4.37433H40.3129V6.37433ZM39.3129 4V5.37433H41.3129V4H39.3129ZM36.3129 1C37.9698 1 39.3129 2.34314 39.3129 4H41.3129C41.3129 1.23858 39.0743 -1 36.3129 -1V1ZM17.4376 1H36.3129V-1H17.4376V1Z' fill='%23C7C7C7' mask='url(%23path-1-inside-1_1276:163)'/%3E%3Ccircle cx='26.8753' cy='24.1875' r='12.9376' stroke='%23C7C7C7'/%3E%3Ccircle r='2.18753' transform='matrix(-1 0 0 1 45.688 13.4374)' stroke='%23C7C7C7'/%3E%3C/svg%3E%0A")

    @include absoluteElementTopLeft(24px, 29px)

.promo-creation__photo-button
  background: none
  border: none
  padding: 0
  cursor: pointer

.promo-creation__photo-button--rotate
  @include absoluteElementTopLeft(0, 0)

.promo-creation__photo-button--delete
  @include absoluteElementTopRight(0, 0)

.promo-creation__image-wrapper
  position: relative
  height: 100%
  width: 100%

.promo-creation__image-wrapper--90deg
  height: 112px
  width: 130px
  transform: rotate(90deg)

  @include absoluteElementTopLeft(10px, -8px, 0)

.promo-creation__image-wrapper--180deg
  transform: rotate(180deg)

.promo-creation__image-wrapper--270deg
  height: 112px
  width: 130px
  transform: rotate(270deg)

  @include absoluteElementTopLeft(10px, -8px, 0)

.promo-creation__location-image
  min-height: 224px
  width: 490px
  margin-left: 157px
  margin-bottom: 40px

.promo-creation__item-wrapper--location
  margin-bottom: 16px

.promo-creation__field--phone
  height: 16px
  width: 244px

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

.promo-creation__number-wrapper
  margin-right: 40px

  &::before
    border-left: 2px solid $dark-grey
    border-top: 2px solid $dark-grey

    @include absoluteElementTopRight(7px, 21px)

.promo-creation__verify-number
  margin-left: 157px
  border: none
  background: none
  text-decoration: underline
  cursor: pointer
  font-family: "Roboto", "Arial", sans-serif

  @include fstyle(12px, 14px, $bright-blue)

.promo-creation__item-wrapper--final
  height: 32px
  padding-left: 24px

  &::before
    top: 18px
    left: 14px

.promo-creation__required-info
  height: 14px
  margin: 0
  margin-top: 13px
  margin-right: 303.5px

  @include fstyle(12px, 14px, $light-black)

.promo-creation__submit
  height: 32px
  width: 124px
  padding: 8px 20px
  background: none
  background-color: $light-blue
  border: none
  border-radius: 8px
  font-family: "Roboto", "Arial", sans-serif
  box-sizing: border-box
  cursor: pointer

  @include fstyle(14px, 16.4px, $white, 500)
